<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="defaultExecutorType" value="REUSE" /><!-- PrepareStatement再利用 -->
		<setting name="autoMappingUnknownColumnBehavior" value="WARNING" /><!-- 
			対応列がない場合に警告 -->
		<setting name="mapUnderscoreToCamelCase" value="false" /><!-- アンダーバーをキャメルケースに変換するかどうか -->
	</settings>
	<environments default="db">
		<environment id="db">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost/db_zircon" />
				<property name="username" value="root" />
				<property name="password" value="" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<package name="zircon.data" />
	</mappers>
</configuration>